@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&family=Playfair+Display:wght@900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 1920px;
    width: 100%;
    position: stick;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    color: #9767A9;
    background-color: #FFFFFF;
    align-items: center;
    font-size: 1.32vw;
    position: sticky;
    top: 0;
}

.logo{
    width: 8.126vw;
}

.mobileMenu{
    display: none;
}

.tabsBox{
    width: 50%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.itemsBox{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.linkItem{
    text-decoration: none;
    color:#9767A9;
}

.tips, .hairSchedule, .references, .products, .signIn, .contactUs{
    list-style: none;
}

.tips:hover{
    cursor: pointer;
    font-weight: 800;
}

.hairSchedule:hover{
    cursor: pointer;
    font-weight: 800;
}

.references:hover{
    cursor: pointer;
    font-weight: 800;
}

.products:hover{
    cursor: pointer;
    font-weight: 800;
}

.signIn:hover{
    cursor: pointer;
    font-weight: 800;
}

.contactUs:hover{
    cursor: pointer;
    font-weight: 800;
}

.contactUs:hover{
    cursor: pointer;
    font-weight: 800;
}

.tips{
    width: 4.2vw;
    text-align: center;
}

.hairSchedule{
    width: 14.4vw;
    text-align: center;
}

.references{
    width: 8.5vw;
    text-align: center;
}

.products{
    width: 6.8vw;
    text-align: center;
}

.signIn{
    width: 8.9vw;
    text-align: center;
}

.contactUs{
    width: 6vw;
    text-align: center;
}

.faceIcon, .instaIcon, .youtubeIcon{
    width: 2.93vw;
}

.linkImage{
    text-decoration: none;
}

.searchBox{
    width: 15.59vw;
    height: 6.27vh;
    border: solid #9767A9;
    border-radius: 50px;
}

.iconsBox{
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchIcons{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.searchBox::placeholder{
    color:#9767A9;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    padding-left: 2.5vw;
    background-image: url('./assets/Lupa.png');
    background-repeat: no-repeat;
    background-position: 5%;
}

.firstSection{
    width: 100%;
    height: 85vh;
    background-image: url('./assets/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    background-position-x: center;
    justify-content:space-evenly;
}

.titleText{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 6vw;
    width: 34vw;
}

.firstText{
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.5vw;
    width: 27.1vw;
    text-align: justify;
}

.secondSection{
    height: 45vh;
    background-color:#9767A9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.stepsTitle{
    font-size: 3.5vw;
    font-family: 'Playfair Display', serif;
    width: 50vw;
    height: 42vh;
}

.secondText{
    font-size: 1.4vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 37.5vw;
    height: 35vh;
}

.mobileSection{
    display: none;
}

.firstSection, .secondSection{
    color: #FFFFFF;
}

@media(max-width:500px){

    header{
        justify-content: space-between;
        position: initial;
        background-color: transparent;
        height: 8.7vh;
    }

    .mobileMenu{
        display: initial;
    }

    .menu{
        width: 13vw;
    }

    .logo{
        width: 14vw;
    }

    .logoBox{
        width: 57.87%;
    }

    .tabsBox{
        display: none;
    }

    .searchIcons{
        display: none;
    }

    .firstSection{
        background-position: 30%;
        align-items: flex-start;
    }

    .titleText{
        flex-direction: column;
        width: 80vw;
        align-items: flex-start;
        justify-content: space-evenly;
        height: 55vh;
    }

    h1{
        font-size: 14vw;
        width: 57vw;
    }

    .firstText{
        width: 57vw;
        font-size: 5.26vw;
    }

    .secondSection{
        flex-direction: column;
    }

    .stepsTitle{
        font-size: 5.9vw;
        height: 14vh;
        width: 85vw;
    }

    .secondText{
        width: 85vw;
        font-size: 3vw;
    }

    .secondSection{
        display: none;
    }

    .mobileSection{
        display: flex;
        background-color: #9767A9;
        flex-direction: column;
        color: #FFFFFF;
        align-items: center;
        justify-content: space-evenly;
        height: 60vh;
    }

    .stepsTitleTwo{
        font-family: 'Playfair Display', serif;
        width: 69.5vw;
    }

    .textContent{
        display: flex;
        flex-direction: column;
        height: 45vh;
        justify-content: space-between;
    }

    .paragraphOne{
        width: 69.5vw;
    }

    .paragraphTwo{
        width: 69.5vw;
    }

    .paragraphThree{
        width: 69.5vw;
        height: 16vh;

    }

    .paragraphOne, .paragraphTwo, .paragraphThree{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }

}